{% extends "documents/base.html" %}

{% block content %}
    <h1>Companies</h1>
    <div class="row">
        {% for company in companies %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'company_detail' company.slug %}" class="company-logo">
                        {% if company.logo %}
                            <img src="{{ company.logo.url }}" alt="{{ company.name }}" class="card-img-top">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'company_detail' company.slug %}">{{ company.name }}</a>
                        </h5>
                        <p class="card-text">{{ company.description|truncatewords:20 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
