{% extends "documents/base.html" %}
{% block content %}
    <h1>{{ company.name }}</h1>
    <p>{{ company.description }}</p>

    <!-- Edit and Delete Buttons -->
    {% if request.user == company.owner or request.user.is_staff %}
        <a href="{% url 'edit_company' company.slug %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_company' company.slug %}" class="btn btn-danger">Delete</a>
    {% endif %}

    <!-- Show user ratings -->
    {% if average_rating %}
        <p>Average Rating: {{ average_rating }} out of {{ rating_count }} reviews</p>
    {% else %}
        <p>Not rated yet</p>
    {% endif %}
    
    <!-- Only show if user is logged in -->
    {% if request.user.is_authenticated %}
        {% if user_rating %}
            <p>Your Rating: {{ user_rating.score }}/5</p>
            <a href="{% url 'submit_rating' company.slug %}" class="btn btn-primary">Edit Your Rating</a>
        {% else %}
            <a href="{% url 'submit_rating' company.slug %}" class="btn btn-primary">Rate this Company</a>
        {% endif %}
    {% endif %}


    <!-- Display documents associated with the company -->
    <h2>Documents</h2>
    <ul>
        {% for document in documents %}
            <li>
                <a href="{% url 'document_detail' company.slug document.year document.title %}">
                    {{ document.title }} - {{ document.year }}
                </a>
            </li>
        {% empty %}
            <li>No documents available.</li>
        {% endfor %}
    </ul>
    {% if request.user == company.owner or request.user.is_staff %}
    <a href="{% url 'add_document' company.slug %}" class="btn btn-success">Add Document</a>
    {% endif %}
    <a href="{% url 'company_list' %}" class="btn btn-secondary">Back to Company List</a>
{% endblock %}
