{% extends "documents/base.html" %}

{% block content %}
    <h1>
        Companies
        {% if request.user.is_authenticated %}
            <a href="{% url 'add_company' %}" class="btn btn-success">Add Company</a>
        {% endif %}
    </h1>
    <div class="row">
        {% for company in companies %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'company_detail' company.slug %}" class="company-logo">
                        {% if company.logo %}
                            <img src="{{ company.logo.url }}" alt="{{ company.name }}" class="card-img-top">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'company_detail' company.slug %}">{{ company.name }}</a>
                        </h5>
                        <p class="card-text">{{ company.description|truncatewords:20 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Most Viewed Documents Section -->
    {% if most_viewed_documents %}
        <h2>Your Most Viewed Documents</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Year</th>
                    <th>Document</th>
                    <th>Views</th>
                </tr>
            </thead>
            <tbody>
                {% for view in most_viewed_documents %}
                    <tr class="clickable-row" onclick="window.location='{% url 'document_detail' view.document.company.slug view.document.year view.document.slug %}';">
                        <td>{{ view.document.company.name }}</td>
                        <td>{{ view.document.year }}</td>
                        <td>{{ view.document.title }}</td>
                        <td>{{ view.views }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
